body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #977adb;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Barra de navegación y cabecera */

header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: calc(100% - 51px);
    margin: 10px;
    padding: 15px;
    font-size: large;
    background-color: rgb(39, 17, 78);
    border-radius: 150px;
    z-index: 1;
}

#logo {
    height: 200px;
    padding: 20px;
    padding-right: 50px;
}

#barraNavegacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    list-style: none;
    gap: 90px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

/* Mapa */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 310px 25px 25px;
    padding: 45px;
    background-color: #825ed6;
    border-radius: 120px;
}

main h1 {
    padding-bottom: 25px;
    color: rgb(71, 17, 125);
}

#datosContacto {
    text-align: center;
    padding-bottom: 25px;
}

#datosContacto b {
    text-decoration: underline;
}

#map {
    width: 1250px;
    height: 650px;
    border-radius: 45px;
    margin: 30px;
    z-index: 0;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 10px;
    margin-top: 0;
    font-size: 12px;
    color: white;
    background-color: rgb(39, 17, 78, 1);
    border-radius: 150px;
    gap: 20px;
}

footer a img {
    width: 40px;
    height: 40px;
}

#direccion {
    flex: 1 1;
}

#avLegal {
    flex: 1 1 525px;
}

#copyright img {
    display: block;
    margin-left: -7px;
    width: 80px;
}