body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #977adb;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Barra de navegación y cabecera */

header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: calc(100% - 51px);
    margin: 10px;
    padding: 15px;
    font-size: large;
    background-color: rgb(39, 17, 78);
    border-radius: 150px;
    z-index: 1;
}

#logo {
    height: 200px;
    padding: 20px;
    padding-right: 50px;
}

#barraNavegacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    list-style: none;
    gap: 90px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

/* Main */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 310px 25px 25px;
    background-color: #825ed6;
    border-radius: 75px;
    text-align: center;
}

main h1 {
    text-align: center;
    padding: 40px;
    color: rgb(71, 17, 125);
}

/* Productos */

#sectionProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    border-radius: 45px;
    gap: 100px;
}

#sectionProduct img {
    border-radius: 35px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.35);
}

#extras {
    justify-content: center;
    color: rgb(71, 17, 125);
    padding: 0px 0px 40px 0px;
    text-align: center;
}

#sectionExtras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    border-radius: 45px;
    gap: 100px;
}

#sectionExtras img {
    border-radius: 35px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.35);
}

#precios {
    font-size: 40px;
}

#contornoIrAPresup {
    display: flex;
    flex-wrap: wrap;
}

#txtIrAlPresup {
    display: inline-flex;
    margin: 30px;
    margin-left: auto;
    padding: 20px;
    border-radius: 45px;
    color: black;
    text-decoration: none;
    background-color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.35);
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 10px;
    margin-top: 0;
    font-size: 12px;
    color: white;
    background-color: rgb(39, 17, 78, 1);
    border-radius: 150px;
    gap: 20px;
}

footer a img {
    width: 40px;
    height: 40px;
}

#direccion {
    flex: 1 1;
}

#avLegal {
    flex: 1 1 525px;
}

#copyright img {
    display: block;
    margin-left: -7px;
    width: 80px;
}