<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conoce XANA</title>
    <link rel="icon" href="../images/favicon_xana.jpeg">
    <link rel="stylesheet" href="../css/style_conocexana.css">
</head>
<body id="conocexana">
    <header>
        <div id="cabecera">
            <div id="divLogo">
                <a>
                    <img src="../images/xana_logo.jpg" id="logo">
                </a>
            </div>
        
            <section id="barraPags">
                <h3 id="barraInicio"><a href="../index.html" style="color: white; text-decoration: none;">INICIO</a></h3>
                <h3 id="barraProductos"><a href="../views/productos.html" style="color: white; text-decoration: none;">PRODUCTOS</a></h3>
                <h3 id="barraGaleria"><a href="../views/galeria.html" style="color: white; text-decoration: none;">GALERÍA</a></h3>
            </section>
        </div>
    </header>

    <main>
        <h1>¿Qué es XANA?</h1>

        <p>
            Somos una empresa de tecnología que combina artículos de actualidad con curiosidades de la misma con un montón de proyectos en mente. Nuestro compromiso es que puedas disfrutar de información de utilidad, de nuestros productos ya a la venta y de un sinfín más de opciones. Si dichos productos te interesan, por favor, <a href="../views/productos.html" style="color: rgba(255, 255, 255);">haz clic aquí</a>, ya que si adquieres alguno contribuyes a que este proyecto siga adelante. Te lo agradecemos de todo corazón.
        </p>
    </main>

    <footer id="footer">
        <a href="https://facebook.com" title="XANA - Facebook" target="_blank">
            <img src="../images/Facebook_Logo_(2019).png" id="logoFacebook" alt="logoFacebook">
        </a>
        
        <a href="https://instagram.com" title="XANA - Instagram" target="_blank">
            <img src="../images/Instagram_icon.png" id="logoInstagram" alt="logoInstagram">
        </a>

        <a href="https://x.com" title="XANA - X" target="_blank">
            <img src="../images/icono x.jpg" id="logoX" alt="logoX">
        </a>

        <a href="https://linkedin.com" title="XANA - LinkedIn" target="_blank">
            <img src="../images/LinkedIn_logo_initials.png" id="logoLinkedIn" alt="logoLinkedIn">
        </a>

        <div id="direccion">
            Pl. del Alto del Rollo, 7, 37003 Salamanca
        </div>
        <div id="avLegal">
            <a href="#" style="color: white;">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Política de privacidad</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Aviso legal</a>&nbsp;&nbsp;&nbsp;
            <a href="/Roberto_Lluvia_trabajoJAVASCRIPT/views/contacto.html" style="color: white;">Contacto</a>&nbsp;&nbsp;&nbsp;
            <a href="/Roberto_Lluvia_trabajoJAVASCRIPT/views/conoceXANA.html" style="color: white;">¿Quiénes somos?</a>
        </div>
        <div id="copyright">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/xana_logo.jpg" title="XANA S.L.">
            © 2026 XANA S.L.<br>
            Todos los derechos reservados
        </div>
    </footer>

    <script src="/Roberto_Lluvia_trabajoJAVASCRIPT/js/include-html.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/Roberto_Lluvia_trabajoJAVASCRIPT/js/script.js"></script>
</body>
</html>
