<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - XANA</title>
    <link rel="icon" href="../assets/icons/favicon_xana.jpeg">
    <link rel="stylesheet" href="../css/style_galeria.css">
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../assets/images/xana_logo.jpg" id="logo" alt="Inicio - XANA">
        </a>
        
        <nav>
            <ul id="barraNavegacion">
                <li id="barraInicio"><a href="../index.html">INICIO</a></li>
                <li id="barraProductos"><a href="../views/productos.html">PRODUCTOS</a></li>
                <li id="barraGaleria"><a href="../views/galeria.html">GALERÍA</a></li>
                <li id="barraContacto"><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div id="tip">
            <img src="../assets/images/tip_img.png" width="45" alt="">
            <p>Puedes usar también las flechas izquierda o derecha del teclado para desplazar las imágenes.</p>
        </div>

        <div id="galeria">
            <img src="../assets/images/tarjeta_grafica_nvidia.webp" id="img1" alt="">
            <img src="../assets/images/procesador_nvidia.jpg" id="img2" alt="">
            <img src="../assets/images/linux_logo.png" id="img3" alt="">
            <img src="../assets/images/incibe_logo.jpg" id="img4" alt="">
            <img src="../assets/images/nate_gentile.jpg" id="img5" alt="">
            <img src="../assets/images/numeros_binarios.webp" id="img6" alt="">
        </div>

        <div id="contenedor-principal">
            <img src="#" id="img-activa" alt="galeria">
            <button id="btn-de-cierre" type="button">
                <img src="../assets/images/icono_de_cierre.png" width="70" alt="">
            </button>
            <button id="btn-de-retroceso" type="button">
                <img src="../assets/images/flecha_izquierda.png" width="100" alt="">
            </button>
            <button id="btn-de-siguiente" type="button">
                <img src="../assets/images/flecha_derecha.png" width="100" alt="">
            </button>
        </div>
    </main>
    
    <footer id="footer">
        <a href="https://facebook.com" title="XANA - Facebook" target="_blank">
            <img src="../assets/images/facebook_logo.png" id="logoFacebook" alt="logoFacebook">
        </a>
        
        <a href="https://instagram.com" title="XANA - Instagram" target="_blank">
            <img src="../assets/images/instagram_logo.png" id="logoInstagram" alt="logoInstagram">
        </a>

        <a href="https://x.com" title="XANA - X" target="_blank">
            <img src="../assets/images/x_logo.jpg" id="logoX" alt="logoX">
        </a>

        <a href="https://linkedin.com" title="XANA - LinkedIn" target="_blank">
            <img src="../assets/images/linkedin_logo.png" id="logoLinkedIn" alt="logoLinkedIn">
        </a>

        <div id="direccion">
            Pl. del Alto del Rollo, 7, 37003 Salamanca
        </div>
        <div id="avLegal">
            <a href="#" style="color: white;">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Política de privacidad</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Aviso legal</a>&nbsp;&nbsp;&nbsp;
            <a href="../views/conoceXANA.html" style="color: white;">¿Quiénes somos?</a>
        </div>
        <div id="copyright">
            <img src="../assets/images/xana_logo.jpg" title="XANA S.L." alt="">
            © 2026 XANA S.L.<br>
            Todos los derechos reservados
        </div>
    </footer>

    <script src="../js/script_galeria.js"></script>
</body>
</html>
