<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - XANA</title>
    <link rel="icon" href="/favicon_xana.jpeg">
    <link rel="stylesheet" href="/css/style_galeria.css">
</head>
<body>
    <header>
        <div id="cabecera">
            <div id="divLogo">
                <a href="/index.html">
                    <img src="/images/xana_logo.jpg" id="logo">
                </a>
            </div>
        
            <section id="barraPags">
                <h3 id="barraInicio"><a href="/index.html" style="color: white; text-decoration: none;">INICIO</a></h3>
                <h3 id="barraProductos"><a href="/views/productos.html" style="color: white; text-decoration: none;">PRODUCTOS</a></h3>
                <h3 id="barraGaleria"><a href="/views/galeria.html" style="color: white; text-decoration: none;">GALERÍA</a></h3>
            </section>
        </div>
    </header>

    <div id="tip">
        <img src="/images/8625273.png" width="45px" height="45px">
        <p>Puedes usar también las flechas izquierda o derecha del teclado para desplazar las imágenes.</p>
    </div>
    
    <main>
        <section id="galeria">
            <img src="/images/nvidia-dejara-pronto-de-dar-sopo-47aac778-image-56864c763.jpg.webp" id="img1">
            <img src="/images/El-nuevo-procesador-de-NVIDIA-rinde-como-un-Ryzen-9800X3D-3.jpg" id="img2">
            <img src="/images/linux-logo-2-440x330.png" id="img3">
            <img src="/images/NW_INCIBE.jpg" id="img4">
            <img src="/images/channels4_profile.jpg" id="img5">
            <img src="/images/binary-number-system.webp" id="img6">
        </section>

        <section id="contenedor-principal">
            <div id="contenedor-interno"></div>
            <img id="img-activa" alt="galeria">
                <button id="btn-de-cierre" type="button">
                    <img src="/images/red-cross-check-mark-on-transparent-background-free-png.png" width="70px">
                </button>
                <button id="btn-de-retroceso" type="button">
                    <img src="/images/Arrow_png_image-izda.png" width="100px">
                </button>
                <button id="btn-de-siguiente" type="button">
                    <img src="/images/Arrow_png_image-dcha.png" width="100px">
                </button>
        </section>
    </main>
    
    <footer id="footer">
        <a href="https://facebook.com" title="XANA - Facebook" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/Facebook_Logo_(2019).png" id="logoFacebook" alt="logoFacebook">
        </a>
        
        <a href="https://instagram.com" title="XANA - Instagram" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/Instagram_icon.png" id="logoInstagram" alt="logoInstagram">
        </a>

        <a href="https://x.com" title="XANA - X" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/icono x.jpg" id="logoX" alt="logoX">
        </a>

        <a href="https://linkedin.com" title="XANA - LinkedIn" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/LinkedIn_logo_initials.png" id="logoLinkedIn" alt="logoLinkedIn">
        </a>

        <div id="direccion">
            Pl. del Alto del Rollo, 7, 37003 Salamanca
        </div>
        <div id="avLegal">
            <a href="#" style="color: white;">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Política de privacidad</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Aviso legal</a>&nbsp;&nbsp;&nbsp;
            <a href="/Roberto_Lluvia_trabajoJAVASCRIPT/views/contacto.html" style="color: white;">Contacto</a>&nbsp;&nbsp;&nbsp;
            <a href="/Roberto_Lluvia_trabajoJAVASCRIPT/views/conoceXANA.html" style="color: white;">¿Quiénes somos?</a>
        </div>
        <div id="copyright">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/xana_logo.jpg" title="XANA S.L.">
            © 2026 XANA S.L.<br>
            Todos los derechos reservados
        </div>
    </footer>

    <script src="/Roberto_Lluvia_trabajoJAVASCRIPT/js/include-html.js"></script>
    <script src="/js/script_galeria.js"></script>
    <script src="/Roberto_Lluvia_trabajoJAVASCRIPT/js/script.js"></script>
</body>
</html>
