<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - XANA</title>
    <link rel="icon" href="/images/favicon_xana.jpeg">
    <link rel="stylesheet" href="/css/style_productos.css">
</head>
<body>
    
    <div id="container">
        <div include-html="/Roberto_Lluvia_trabajoJAVASCRIPT/header.html"></div>
    </div>

    <main>
        <h1>Nuestros productos de calidad. No te arrepentirás.</h1>

        <section id="sectionProduct">
            <div id="teclado">
                <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/M2PHO4EZMFHVDBZ5FYHNA7YY3Q.avif" width="350px">
                <p>Teclado XANA Gaming RGB</p>
                <p id="precios">35 €</p>
            </div>
            <div id="raton">
                <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/61M9TBM9HaL._AC_SL1000__.jpg" width="300px">
                <p>Ratón XANA Gaming RGB</p>
                <p id="precios">28 €</p>
            </div>
            <div id="monitor">
                <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/710ZLpqfQeL.jpg" width="300px">
                <p>Monitor XANA Gaming</p>
                <p id="precios">240 €</p>
            </div>
        </section>

        <h2>Extras</h2>

        <section id="sectionExtras">
            <div id="alfombrilla">
                <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/mars-gaming-mmprgb2-alfombrilla-gaming-xxl-rgb.webp" width="300px">
                <p>Alfombrilla XANA Gaming RGB</p>
                <p id="precios">5 €</p>
            </div>
            <div id="toallitas">
                <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/61fOsQopjkL.jpg" width="300px">
                <p>Toallitas XANA para PC</p>
                <p id="precios">3 €</p>
            </div>
            <div id="pasta">
                <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/5111H5tek7L.jpg" width="300px">
                <p>Pasta térmica XANA</p>
                <p id="precios">7 €</p>
            </div>
        </section>

        <div id="contornoIrAPresup">
            <a href="/Roberto_Lluvia_trabajoJAVASCRIPT/views/presupuesto.html" id="txtIrAlPresup">Ir al presupuesto →</a>
        </div>
    </main>

    <footer id="footer">
        <a href="https://facebook.com" title="XANA - Facebook" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/Facebook_Logo_(2019).png" id="logoFacebook" alt="logoFacebook">
        </a>
        
        <a href="https://instagram.com" title="XANA - Instagram" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/Instagram_icon.png" id="logoInstagram" alt="logoInstagram">
        </a>

        <a href="https://x.com" title="XANA - X" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/icono x.jpg" id="logoX" alt="logoX">
        </a>

        <a href="https://linkedin.com" title="XANA - LinkedIn" target="_blank">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/LinkedIn_logo_initials.png" id="logoLinkedIn" alt="logoLinkedIn">
        </a>

        <div id="direccion">
            Pl. del Alto del Rollo, 7, 37003 Salamanca
        </div>
        <div id="avLegal">
            <a href="#" style="color: white;">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Política de privacidad</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Aviso legal</a>&nbsp;&nbsp;&nbsp;
            <a href="/Roberto_Lluvia_trabajoJAVASCRIPT/views/contacto.html" style="color: white;">Contacto</a>&nbsp;&nbsp;&nbsp;
            <a href="/Roberto_Lluvia_trabajoJAVASCRIPT/views/conoceXANA.html" style="color: white;">¿Quiénes somos?</a>
        </div>
        <div id="copyright">
            <img src="/Roberto_Lluvia_trabajoJAVASCRIPT/images/xana_logo.jpg" title="XANA S.L.">
            © 2026 XANA S.L.<br>
            Todos los derechos reservados
        </div>
    </footer>

    <script src="/Roberto_Lluvia_trabajoJAVASCRIPT/js/include-html.js"></script>
    <script src="/Roberto_Lluvia_trabajoJAVASCRIPT/js/script.js"></script>
</body>
</html>
