<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - XANA</title>
    <link rel="icon" href="../images/favicon_xana.jpeg">
    <link rel="stylesheet" href="../css/style_productos.css">
</head>
<body>
    <header>
        <div id="cabecera">
            <div id="divLogo">
                <a href="/index.html">
                    <img src="../images/xana_logo.jpg" id="logo">
                </a>
            </div>
        
            <section id="barraPags">
                <h3 id="barraInicio"><a href="../index.html" style="color: white; text-decoration: none;">INICIO</a></h3>
                <h3 id="barraProductos"><a href="../views/productos.html" style="color: white; text-decoration: none;">PRODUCTOS</a></h3>
                <h3 id="barraGaleria"><a href="../views/galeria.html" style="color: white; text-decoration: none;">GALERÍA</a></h3>
            </section>
        </div>
    </header>

    <main>
        <h1>Nuestros productos de calidad. No te arrepentirás.</h1>

        <section id="sectionProduct">
            <div id="teclado">
                <img src="../images/M2PHO4EZMFHVDBZ5FYHNA7YY3Q.avif" width="350px">
                <p>Teclado XANA Gaming RGB</p>
                <p id="precios">35 €</p>
            </div>
            <div id="raton">
                <img src="../images/61M9TBM9HaL._AC_SL1000__.jpg" width="300px">
                <p>Ratón XANA Gaming RGB</p>
                <p id="precios">28 €</p>
            </div>
            <div id="monitor">
                <img src="../images/710ZLpqfQeL.jpg" width="300px">
                <p>Monitor XANA Gaming</p>
                <p id="precios">240 €</p>
            </div>
        </section>

        <h2>Extras</h2>

        <section id="sectionExtras">
            <div id="alfombrilla">
                <img src="../images/mars-gaming-mmprgb2-alfombrilla-gaming-xxl-rgb.webp" width="300px">
                <p>Alfombrilla XANA Gaming RGB</p>
                <p id="precios">5 €</p>
            </div>
            <div id="toallitas">
                <img src="../images/61fOsQopjkL.jpg" width="300px">
                <p>Toallitas XANA para PC</p>
                <p id="precios">3 €</p>
            </div>
            <div id="pasta">
                <img src="../images/5111H5tek7L.jpg" width="300px">
                <p>Pasta térmica XANA</p>
                <p id="precios">7 €</p>
            </div>
        </section>

        <div id="contornoIrAPresup">
            <a href="../views/presupuesto.html" id="txtIrAlPresup">Ir al presupuesto →</a>
        </div>
    </main>

    <footer id="footer">
        <a href="https://facebook.com" title="XANA - Facebook" target="_blank">
            <img src="../images/Facebook_Logo_(2019).png" id="logoFacebook" alt="logoFacebook">
        </a>
        
        <a href="https://instagram.com" title="XANA - Instagram" target="_blank">
            <img src="../images/Instagram_icon.png" id="logoInstagram" alt="logoInstagram">
        </a>

        <a href="https://x.com" title="XANA - X" target="_blank">
            <img src="../images/icono x.jpg" id="logoX" alt="logoX">
        </a>

        <a href="https://linkedin.com" title="XANA - LinkedIn" target="_blank">
            <img src="../images/LinkedIn_logo_initials.png" id="logoLinkedIn" alt="logoLinkedIn">
        </a>

        <div id="direccion">
            Pl. del Alto del Rollo, 7, 37003 Salamanca
        </div>
        <div id="avLegal">
            <a href="#" style="color: white;">Términos y condiciones</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Política de privacidad</a>&nbsp;&nbsp;&nbsp;
            <a href="#" style="color: white;">Aviso legal</a>&nbsp;&nbsp;&nbsp;
            <a href="../views/contacto.html" style="color: white;">Contacto</a>&nbsp;&nbsp;&nbsp;
            <a href="../views/conoceXANA.html" style="color: white;">¿Quiénes somos?</a>
        </div>
        <div id="copyright">
            <img src="../images/xana_logo.jpg" title="XANA S.L.">
            © 2026 XANA S.L.<br>
            Todos los derechos reservados
        </div>
    </footer>

</body>
</html>
